__pycache__/
disassembly/
test/build
test/disassembly
test/test.gb
tmp/

# ROM files
Tetris*.gbc
Tetris*.gb
*.gbc
*.gb

# Symbol files  
*.sym
*.sym.bak
!test/*.sym

# Emulator files
bdms*
*.zip

# Backup directories
disassembly_old/
*_old/